.user__text {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

@media screen and (max-width: 580px) {
    .user__text {
        margin-right: 10px;
    }
}